web/WEB-INF/wsdl/localhost_8080/servicios/miservicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioweb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioweb/" name="miservicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioweb/" schemaLocation="http://localhost:8080/servicios/miservicio?xsd=1"/>
</xsd:schema>
</types>
<message name="CatetoA">
<part name="parameters" element="tns:CatetoA"/>
</message>
<message name="CatetoAResponse">
<part name="parameters" element="tns:CatetoAResponse"/>
</message>
<message name="VolumenTriangulo">
<part name="parameters" element="tns:VolumenTriangulo"/>
</message>
<message name="VolumenTrianguloResponse">
<part name="parameters" element="tns:VolumenTrianguloResponse"/>
</message>
<message name="VolumenCubo">
<part name="parameters" element="tns:VolumenCubo"/>
</message>
<message name="VolumenCuboResponse">
<part name="parameters" element="tns:VolumenCuboResponse"/>
</message>
<message name="VolumenRectangulo">
<part name="parameters" element="tns:VolumenRectangulo"/>
</message>
<message name="VolumenRectanguloResponse">
<part name="parameters" element="tns:VolumenRectanguloResponse"/>
</message>
<message name="CatetoB">
<part name="parameters" element="tns:CatetoB"/>
</message>
<message name="CatetoBResponse">
<part name="parameters" element="tns:CatetoBResponse"/>
</message>
<message name="VolumenPentagono">
<part name="parameters" element="tns:VolumenPentagono"/>
</message>
<message name="VolumenPentagonoResponse">
<part name="parameters" element="tns:VolumenPentagonoResponse"/>
</message>
<message name="Hipotenusa">
<part name="parameters" element="tns:Hipotenusa"/>
</message>
<message name="HipotenusaResponse">
<part name="parameters" element="tns:HipotenusaResponse"/>
</message>
<portType name="miservicio">
<operation name="CatetoA">
<input wsam:Action="http://servicioweb/miservicio/CatetoARequest" message="tns:CatetoA"/>
<output wsam:Action="http://servicioweb/miservicio/CatetoAResponse" message="tns:CatetoAResponse"/>
</operation>
<operation name="VolumenTriangulo">
<input wsam:Action="http://servicioweb/miservicio/VolumenTrianguloRequest" message="tns:VolumenTriangulo"/>
<output wsam:Action="http://servicioweb/miservicio/VolumenTrianguloResponse" message="tns:VolumenTrianguloResponse"/>
</operation>
<operation name="VolumenCubo">
<input wsam:Action="http://servicioweb/miservicio/VolumenCuboRequest" message="tns:VolumenCubo"/>
<output wsam:Action="http://servicioweb/miservicio/VolumenCuboResponse" message="tns:VolumenCuboResponse"/>
</operation>
<operation name="VolumenRectangulo">
<input wsam:Action="http://servicioweb/miservicio/VolumenRectanguloRequest" message="tns:VolumenRectangulo"/>
<output wsam:Action="http://servicioweb/miservicio/VolumenRectanguloResponse" message="tns:VolumenRectanguloResponse"/>
</operation>
<operation name="CatetoB">
<input wsam:Action="http://servicioweb/miservicio/CatetoBRequest" message="tns:CatetoB"/>
<output wsam:Action="http://servicioweb/miservicio/CatetoBResponse" message="tns:CatetoBResponse"/>
</operation>
<operation name="VolumenPentagono">
<input wsam:Action="http://servicioweb/miservicio/VolumenPentagonoRequest" message="tns:VolumenPentagono"/>
<output wsam:Action="http://servicioweb/miservicio/VolumenPentagonoResponse" message="tns:VolumenPentagonoResponse"/>
</operation>
<operation name="Hipotenusa">
<input wsam:Action="http://servicioweb/miservicio/HipotenusaRequest" message="tns:Hipotenusa"/>
<output wsam:Action="http://servicioweb/miservicio/HipotenusaResponse" message="tns:HipotenusaResponse"/>
</operation>
</portType>
<binding name="miservicioPortBinding" type="tns:miservicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CatetoA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VolumenTriangulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VolumenCubo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VolumenRectangulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CatetoB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VolumenPentagono">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Hipotenusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="miservicio">
<port name="miservicioPort" binding="tns:miservicioPortBinding">
<soap:address location="http://localhost:8080/servicios/miservicio"/>
</port>
</service>
</definitions>